#sidebar
  %a{:href => '/new', :id => 'button'} New Snippet
  %p
  .side_section
    %h4 Most Recent
    %ul
      - @most_recent.each do |s|
        %li
          %a{:href => "/s/#{s.id}"}
            .title= s.title
            .info== Updated #{time_dist(Time.now, s.updated_at)} ago
  .side_section
    %h4 Most Viewed
    %ul
      - @most_viewed.each do |s|
        %li
          %a{:href => "/s/#{s.id}"}
            .title= s.title
            .info== Viewed #{s.views} times
  .side_section
    %h4 Tags
    %ul#tags
      - @tags.each do |t|
        %li
          %a{:href => "/t/#{t}"}= t
