- rows = 25
- cols = 85
#main
  %form{:action => url, :method => 'post', :name => 'edit'}
    .edit
      %p.title
        Title<br />
        == <input type='text' size='#{cols}' name='title' value='#{snippet.title}' />
      %p.tags
        Tags <em style="font-size:0.7em;">(space separated)</em><br />
        == <input type='text' size='#{cols}' name='tags' value='#{snippet.tags}' /><br />
      %p.body
        Snippet<br />
        ~ "<textarea name='body' rows='#{rows}' cols='#{cols}'>#{snippet.body}</textarea>"
      <input type='submit' value='Save'>
