#main
  - s = @snippet
  .snip
    .snip_title== <a href="/s/#{s.id}">#{s.title}</a>
    .CodeRay
      ~ CodeRay.scan(s.body, s.language).div
    .snip_foot
      .snip_lang= s.language
      .snip_tags
        Tags:
        - s.tags.split.each do |t|
          == <a href="/t/#{t}">#{t}</a>
    .edit== <a href="/e/#{s.id}">Edit</a>
