#main
  - s = @snippet
  .snip
    .snip_title== <a href="/s/#{s.id}">#{s.title}</a>
    .CodeRay
      ~ CodeRay.scan(s.body, s.language).div
    .snip_foot
      .snip_lang= s.language
      .snip_tags
        Tags:
        - s.tags.split.each do |t|
          == <a href="/t/#{t}">#{t}</a>
    .edit
      %form{:method => 'get' ,:action => "/e/#{s.id}"}
        %button{:type => 'submit'} Edit
      %form{:method => 'post', :action => "/d/#{s.id}"}
        %input{:name => '_method', :value => 'delete', :type => 'hidden'}/
        %button{:type => 'submit'} Delete
